.idea/
.certora_internal/
.gradle/
.java-version
.venv/
**/emv-*

.vscode/

	
ASTExtraction/build/
CertoraProver/
EquivalenceCheck/
Gimli-DWARF-JSONDump
Mutate/
Public/TestEVM/CVLCompilation/OptionalFunction/.certora_internal/
Public/TestEVM/CVLCompilation/OptionalFunction/emv-1-certora-11-juin--11-23/
Shared/
Typechecker/build/
build/
certora-select
certoraEVMProver.py
certoraEqCheck.py
certoraMutate.py
certoraRanger.py
certoraRun.py
certoraSolanaProver.py
certoraSorobanProver.py
certora_jars/
emv.jar
fried-egg/Cargo.lock
fried-egg/target/
lib/DetektRules/build/
lib/GeneralUtils/build/
lib/KspGeneration/build/
lib/SMTLIBUtils/build/
lib/Shared/build/
lib/TestUtils/build/
rustMutator.py
scripts/Gimli-DWARF-JSONDump/target/
tac_optimizer
